<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8" />
<link rel="icon" type="image/png" href="assets/img/favicon.ico">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

<title>dati.gov.it monitor</title>

<meta
	content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0'
	name='viewport' />
<meta name="viewport" content="width=device-width" />


<!-- Bootstrap core CSS     -->
<link href="@routes.Assets.versioned("assets/css/bootstrap.min.css")" rel="stylesheet" />

<!-- Animation library for notifications   -->
<link href="@routes.Assets.versioned("assets/css/animate.min.css")" rel="stylesheet" />

<!--  Light Bootstrap Table core CSS    -->
<link href="@routes.Assets.versioned("assets/css/light-bootstrap-dashboard.css")" rel="stylesheet" />


<!--  CSS for Demo Purpose, don't include it in your project     -->
<link href="@routes.Assets.versioned("assets/css/demo.css")" rel="stylesheet" />


<!--     Fonts and icons     -->
<link
	href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css"
	rel="stylesheet">
<link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300'
	rel='stylesheet' type='text/css'>
<link href="@routes.Assets.versioned("assets/css/pe-icon-7-stroke.css")" rel="stylesheet" />

</head>
<body>

	<div class="wrapper">
		<div class="sidebar" data-color="blue">
			<!--  data-image="@routes.Assets.versioned("assets/img/sidebar-5.jpg")"> -->

			<!--   you can change the color of the sidebar using: data-color="blue | azure | green | orange | red | purple" -->


			<div class="sidebar-wrapper">
				<div class="logo">
					<a href="/dashboard" class="simple-text"> dati.gov.it Monitor </a>
				</div>

				<ul class="nav" id="cats">
					<li class="active"><a href="/dashboard"> <i
							class="pe-7s-graph"></i>
							<p>All</p>
					</a></li>

				</ul>
			</div>
		</div>

		<div class="main-panel">
			<nav class="navbar navbar-default navbar-fixed">
				<div class="container-fluid">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse"
							data-target="#navigation-example-2">
							<span class="sr-only">Toggle navigation</span> <span
								class="icon-bar"></span> <span class="icon-bar"></span> <span
								class="icon-bar"></span>
						</button>
						<a class="navbar-brand" href="#">Tutti i Dataset</a>
					</div>

				</div>
			</nav>


			<div class="content">
				<div class="container-fluid">

					<div class="row">
						<div class="col-md-12">
							<div class="card">
								<div class="content all-icons">

									<div class="row">
										<div class="font-icon-list col-md-3">
											<div class="font-icon-detail">
												<i class="pe-7s-server"></i>
												<h5 id="tots"></h5>
											</div>

										</div>
										<div class="font-icon-list col-md-3">
											<div class="font-icon-detail">
												<i class="pe-7s-server"></i>
												<h5 id="no datasets">Broken Datasets 321</h5>
											</div>

										</div>
										<div class="font-icon-list col-md-3">
											<div class="font-icon-detail">
												<i class="pe-7s-download"></i>
												<h5 id="resorces"></h5>
											</div>

										</div>

										<div class="font-icon-list col-md-3">
											<div class="font-icon-detail">
												<i class="pe-7s-tools"></i>
												<h5 id="blinks"></h5>
											</div>

										</div>
									</div>

								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<div class="card">
								<div class="header">
									<h4 class="title">Formati</h4>
									<p class="category">Distributione dei formati</p>
								</div>
								<div class="content">
									<div id="chartPreferences" class="ct-chart ct-perfect-fourth"></div>

									<div class="footer">

										<hr>
										<div class="stats">
											<i class="fa fa-clock-o"></i> Ultimo aggiornamento 14/02/2017
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="col-md-6">
							<div class="card">
								<div class="header">
									<h4 class="title">Licenze</h4>
									<p class="category">Distribuzione Licenze</p>
								</div>
								<div class="content">
									<div id="chartLicense" class="ct-chart"></div>
									<div class="footer">

										<hr>
										<div class="stats">
											<i class="fa fa-history"></i> Ultimo aggiornamento 14/02/2017
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>



					<div class="row">
						<div class="col-md-12">
							<div class="card " style="height: 1400px">
								<div class="header">
									<h4 class="title">Numero di Datasets per catalogo</h4>
									<p class="category">Numero di Datasets per catalogo</p>
								</div>
								<div class="content">
									<div id="chartActivity" class="ct-chart" style="height: 1250px"></div>

									<div class="footer">
										<hr>
										<div class="stats">
											<i class="fa fa-check"></i> Ultimo aggiornamento 14/02/2017
										</div>
									</div>
								</div>
							</div>
						</div>

					</div>

					<div class="row">
						<div class="col-md-12">
							<div class="card ">
								<div class="header">
									<h4 class="title">Broken Links</h4>
									<p class="category">Broken links</p>
								</div>
								<div class="content">
									<div class="table-full-width">
										<table class="table">
											<tbody id="broken_links">


											</tbody>
										</table>
									</div>

									<div class="footer">
										<hr>
										<div class="stats">
											<i class="fa fa-history"></i> Ultimo Aggiornameno 14/02/2017
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>


				</div>
			</div>

			<footer class="footer">
				<div class="container-fluid">
					<nav class="pull-left">
						<ul>
							<li><a href="https://teamdigitale.governo.it/"> Team
									Digitale </a></li>
							<li><a
								href="https://teamdigitale.governo.it/it/47-content.htm">
									Chi siamo </a></li>
							<li><a
								href="https://teamdigitale.governo.it/it/35-content.htm">
									Blog </a></li>
							<li><a
								href="https://teamdigitale.governo.it/it/36-content.htm">
									Lavora con noi </a></li>
						</ul>
					</nav>
					<p class="copyright pull-right">
						&copy; 2017 <a href="https://teamdigitale.governo.it/">Team
							Digitale</a>, made with love
					</p>
				</div>
			</footer>

		</div>
	</div>


</body>

<!--   Core JS Files   -->
<script src="@routes.Assets.versioned("assets/js/jquery-1.10.2.js")" type="text/javascript"></script>
<script src="@routes.Assets.versioned("assets/js/bootstrap.min.js")" type="text/javascript"></script>

<!--  Checkbox, Radio & Switch Plugins -->
<script src="@routes.Assets.versioned("assets/js/bootstrap-checkbox-radio-switch.js")"></script>

<script
	src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>

<!--  Charts Plugin -->
<script src="@routes.Assets.versioned("assets/js/chartist.min.js")"></script>

<!--  Notifications Plugin    -->
<script src="@routes.Assets.versioned("assets/js/bootstrap-notify.js")"></script>

<!--  Google Maps Plugin    -->
<script type="text/javascript"
	src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>

<!-- Light Bootstrap Table Core javascript and methods for Demo purpose -->
<script src="@routes.Assets.versioned("assets/js/light-bootstrap-dashboard.js")"></script>

<!-- Light Bootstrap Table DEMO methods, don't include it in your project! -->
<script src="@routes.Assets.versioned("assets/js/demo.js")"></script>

<script type="text/javascript">
    	$(document).ready(function(){

        	demo.initChartist();
            demo.initCategories();

        	$.notify({
            	icon: 'pe-7s-gift',
            	message: "Sito in versione <b>BETA</b> - ci scusiamo per eventuali errori"

            },{
                type: 'info',
                timer: 4000
            });

    	});
	</script>

</html>


